@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --dark-brown: #2b140e;
    --light-cream: #fbf4e1;
    --light-red: #773a4d;
    --dark-green: #242419;
}

body {
    font-weight: 300;
    font-size: 1.05rem;
    line-height: 1.6rem;
    font-family: "Raleway", sans-serif;
}

section {
    min-height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 1rem;
    align-items: center;
    justify-content: center;
    align-content: flex-start;
    padding: 100px 0;
    background-color: var(--light-cream);
}

.drink-img {
    max-width: 100%;
    grid-column: 4/5;
    margin: auto;
}

.drink-btn {
    grid-column: 4/5;
    margin: auto;
}

.meal-img {
    max-width: 100%;
    grid-column: 2/3;
    margin: auto;
}

.meal-btn {
    grid-column: 2/3;
    margin: auto;
}

/*  */
.btn {
    font-family: inherit;
    cursor: pointer;
    outline: 0;
    font-size: 1.05rem;
}

.title {
    font-size: 2rem;
    margin-bottom: 1rem;
    grid-column: 1/6;
    text-align: center;
}

/*  */
img {
    display: inline-block;
    transition: all 0.4s linear;
}

img:hover {
    filter: grayscale(100%);
}

button {
    background-color: transparent;
    border: none;
    outline: none;
}

.search-btn {
    text-decoration: none;
    color: var(--light-cream);
    background: var(--light-red);
    font-weight: 500;
    font-size: 1.1rem;
    padding: 0.75rem 0;
    display: block;
    width: 175px;
    margin: 1rem auto;
    border-radius: 2rem;
    text-align: center;
    transition: all 0.4s linear;
}

.search-btn:hover {
    background: var(--dark-green);
}
